.aboutCont {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: flex-start;
  gap: 5rem;
}
.parrafo1 {
  font-size: 1.3rem;
  text-align: justify;
  color: black;
  width: 400px;
  margin-top: 2rem;
}
.titulo {
  text-align: center;
  font-size: 4.3rem;
}
.marco {
  position: absolute;
  left: 10%;
  width: 480px;
  height: 825px;
  z-index: -3;
}

.contTeam {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.img {
  box-shadow: 10px 10px 10px black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .aboutCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start;
    gap: 5rem;
  }

  .marco {
    display: none;
  }

  .parrafo1 {
    padding: 1rem;
    background-color: white;
    width: 100%;
  }
  .img {
    width: 100%;
  }
}
