.cotizar {
  margin-top: 2rem;
  color: white !important;
  font-size: 1.3em !important;
  background-color: #e98e2d !important;
  font-family: none;
  width: 200px !important;
  text-align: center;
  display: inline-block !important;
  border: none !important;
  padding: 10px;
  text-decoration: none !important;
  border-radius: 0 !important;
  align-self: center !important;
}

.cotizar:hover {
  background-color: #cad6ff !important;
}

.contBoton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 !important;
}
