.fondoForm {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../../../public/assets/img/desk1.png);
  background-size: 100%;
  margin-top: 2rem;
}

@keyframes show2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contForm {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show2;
  animation-range: entry 80% cover 55%;
  animation-fill-mode: both;
}

.contForm {
  display: flex;
  width: 60rem;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;
  padding: 2rem;
  background-color: #101623;
  border: solid 2px white;
  margin-top: 28rem;
  margin-bottom: 15rem;

  opacity: 0.9;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form input {
  background-color: #cad6ff;
  color: black;
}

.form select {
  background-color: #cad6ff;
  color: black;
}
.form textarea {
  background-color: #cad6ff;
  color: black;
}

.check {
  margin-right: 40%;
  margin-top: 2%;
}

.contactenos {
  font-size: 3rem;
  position: absolute;
  top: 3rem;
  z-index: 3;
  color: black;
  margin-left: 1rem;
  position: absolute;
}

.marco {
  position: relative;
  z-index: 0;
  height: 6rem;
  width: 17rem;
  top: 2rem;
}

.contMsj {
  position: absolute;
  top: 0;
  left: 15rem;
}

.logo {
  width: 200px;
}
.foto {
  width: 300px;
}
.boton {
  color: white;
  font-size: 1.3rem;
  background-color: #e98e2d;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  width: 100%;
  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;

  padding: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  align-self: center;
}

.boton:hover {
  background-color: #cad6ff;
}
@media (min-width: 320px) and (max-width: 480px) {
  .contactenos {
    font-size: 1.5rem;
    position: absolute;
    top: 3rem;
    z-index: 3;
    color: black;
    left: 0;
    position: absolute;
  }

  .marco {
    left: 0;
    position: relative;
    z-index: 0;
    height: 4rem;
    width: 10rem;
    top: 2rem;
  }

  .contMsj {
    position: absolute;
    top: 0;
    left: 2rem;
  }

  .contForm {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
    gap: 20px;
    padding: 7%;
    background-color: #101623;
    border: none;
    margin-top: 28rem;
    margin-bottom: 20rem;
    width: 27rem;
    opacity: 0.9;
  }
  .form {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: none;
  }
}
