.fondoForm {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../../../public/assets/img/desk1.png);
  background-size: 100%;
  margin-top: 2rem;
}

@keyframes show2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contForm {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show2;
  animation-range: entry 80% cover 65%;
  animation-fill-mode: both;
}

.contForm {
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15%;
  gap: 20px;
  padding: 7%;
  background-color: #101623;

  margin-top: 26rem;
  border: solid white 3px;
  opacity: 0.9;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.check {
  margin-right: 40%;
  margin-top: 2%;
}

.contactenos {
  font-size: 4rem;
  position: absolute;
  top: 4rem;
  z-index: 3;
  color: black;
  margin-left: 1rem;
}

.marco {
  position: absolute;
  z-index: 0;
  height: 150px;
  width: 350px;
  top: 2rem;
}

.contMsj {
  position: absolute;
  top: 0;
  left: 15rem;
}
