.container {
  margin-top: 5%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.datos {
  position: relative;
  top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: justify;
  font-size: 1.3rem;
  width: 500px;
}

.datos2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin-bottom: 0rem;
}
.info1 {
  color: #cad6ff;
  display: flex;
  font-size: 1.2rem;
  background-color: white;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  color: #1c1b18;
  padding: 10px;
  width: 300px;

  align-items: center;
  margin-bottom: 1rem;
}

.box {
  position: relative;
}
/* .info1::before {
  content: "";
  position: absolute;

  width: 0;
  height: 0;
  border-right: 56px solid transparent;
  border-top: 40px solid transparent;
  border-left: 40px solid white;
  border-bottom: 40px solid white;
  left: 0rem;
  bottom: 40px;

  z-index: -7;
  transform: rotate(0deg);
} */

.item {
  align-self: center;
}
.boton {
  color: white;
  font-size: 1.3rem;
  background-color: #e98e2d;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  width: 200px;
  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;

  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  align-self: center;
}
.boton:hover {
  background-color: #cad6ff;
}

.titulo {
  font-size: 4rem;
  font-weight: 700;
  align-self: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;

  line-height: 14px;
}

.contForm {
  width: 100%;
  margin-left: rem;
}

.contProducts {
  display: flex;
  justify-content: center;
}
.contSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  display: flex;
  width: 40rem;
  height: 30rem;

  border: solid white 2px;
  margin-bottom: 5rem;
}

.slider .foto {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.5s ease;
  border-radius: 2px;
}
.slider .foto:hover {
  cursor: crosshair;
  width: 50%;
  opacity: 1;
  filter: contrast(120%);
}

.precio {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  .slider {
    display: flex;
    width: 20rem;
    border: solid white 2px;
    margin-bottom: 1rem;
  }

  .contSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .datos {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    text-align: justify;
    font-size: 1.3rem;
    width: 22rem;
  }

  .titulo {
    font-size: 2rem;
    font-weight: 700;
    align-self: center;
  }

  .foto {
    cursor: crosshair;

    opacity: 1;
    filter: contrast(120%);
  }

  /* .info1 {
    color: #cad6ff;
    display: flex;
    font-size: 1rem;
    background-color: white;
    flex-direction: column;S
    text-align: center;
    text-transform: uppercase;
    color: #1c1b18;
    padding: 10px;
    position: absolute;
    top: 58rem;
  } */

  .container {
    margin-top: 5%;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
