.contenido {
  margin: 5rem;
}

.bienvenida {
  display: flex;
  gap: 30px;
  margin: 5rem;
}
.parrafo {
  font-size: 20px;
  margin-right: 2px;
}

.titulo {
  margin-left: 4rem;

  font-size: 50px;
}

.foto {
  border: solid 2px white;
}
