.contenido {
  background-image: url(../../../../public/assets/svg/montana4i.svg);
  background-repeat: no-repeat;
  background-size: (20%);
  height: 50rem;
  padding: 1rem;
  margin-top: 5rem;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 5rem;
  margin-top: 0;
}
.parrafo {
  font-size: 1rem;
  padding: 5px;

  color: black;

  width: 25%;
  height: 40%;
  left: 16%;

  position: absolute;
}

.titulo {
  text-align: center;
  font-size: 4.3rem;
}
.titulo:hover {
  color: #cad6ff;
}

.titulo2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
  color: #cad6ff;
  text-transform: uppercase;
}

.foto {
  margin-top: 6%;
  border: solid 2px white;
}
.contMsj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  font-size: 1.4em;
  gap: 5px;
  text-align: justify;
}
.parrafo1 {
  color: black;
  font-size: 1.5rem;

  width: 18rem;
  height: 20rem;
  position: absolute;
  margin-right: 3%;
}
