.contSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  display: flex;
  width: 70rem;
  height: 430px;
  margin-top: 5%;
  border: solid white 2px;
  margin-bottom: 5rem;
}

.slider .foto {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.5s ease;
  border-radius: 2px;
}
.slider .foto:hover {
  cursor: crosshair;
  width: 500px;
  opacity: 1;
  filter: contrast(120%);
}

@media (min-width: 320px) and (max-width: 480px) {
  .slider {
    display: flex;
    width: 70rem;
    height: 20rem;
    margin-top: 5%;
    border: solid white 2px;
    margin-bottom: 5rem;
  }

  .contSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
}
