.fondo {
  margin-top: 2%;

  background-image: url(../../../public/assets/img/madera.png);
  height: 90vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: banner 10s infinite linear alternate;
  gap: 20px;
  border: solid white 2px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -6;
}

@keyframes banner {
  0%,
  30% {
    background-image: url(../../../public/assets/img/banner//CZ2.jpg);
  }
  35%,
  50% {
    background-image: url(../../../public/assets/img/banner/CZ20.jpg);
  }
  55%,
  75% {
    background-image: url(../../../public/assets/img/banner/sillaContraveta.JPG);
  }
  80%,
  100% {
    background-image: url(../../../public/assets/img/banner/contraveta3.JPG);
  }
}

.bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parrafo {
  width: 30rem;
  background-color: white;
  color: black;
  opacity: 0.2;
}

.logo {
  opacity: 2;
}
.logo:hover {
  filter: drop-shadow(5px 5px 5px black);
}
