.contenedor {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 40px;
}

.card {
  box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);

  height: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 19.2rem;
  background-image: url("https://storage.cloud.google.com/fotosdmt/mockup_pag%20web_dmtaller/Rack%20Lenga%20(3).jpg");
  background-size: cover;
  gap: 20px;

  color: #fff9f6;
}
.card2 {
  box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);

  height: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 19.2rem;
  background-image: url("https://storage.cloud.google.com/fotosdmt/mockup_pag%20web_dmtaller/Silla%20contraveta%20(27).JPG");
  background-size: cover;
  gap: 20px;

  color: #fff9f6;
}

.card3 {
  box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 25px 0px rgba(0, 0, 0, 0.75);

  height: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 19.2rem;
  background-image: url("https://storage.cloud.google.com/fotosdmt/mockup_pag%20web_dmtaller/Sillas%20Pilar%20(40).JPG");
  background-size: cover;
  gap: 20px;

  color: #fff9f6;
}

.planes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 8%;
}

.titulo {
  text-align: center;

  font-size: 4.6rem;
}

.titulo1 {
  font-size: 3rem;
}

.parrafo {
  margin: 5%;
  opacity: 0;
  transition: 2s ease;
  background-color: white;
  color: black;
  padding: 1rem;
  position: absolute;
  position: absolute;
  width: 20%;
  background: #fff;
  font-size: 1.4rem;
  box-sizing: border-box;

  transition: 0.5s;
  color: black;
  text-align: justify;
  transform: translateX(0%) translateY(-10px);
  padding: 20px;
}

/* .parrafo::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 30px;

  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 40px solid white;
  border-bottom: 40px solid white;
  left: 0rem;
  top: -20px;

  z-index: -7;
  transform: rotate(0deg);
} */

.card:hover .parrafo {
  opacity: 1; /* Al hacer hover sobre la card, activamos el párrafo cambiando su opacidad a 1 */
}
.card2:hover .parrafo {
  opacity: 1; /* Al hacer hover sobre la card, activamos el párrafo cambiando su opacidad a 1 */
}
.card3:hover .parrafo {
  opacity: 1; /* Al hacer hover sobre la card, activamos el párrafo cambiando su opacidad a 1 */
}
.planes {
  background-image: url(../../../public/assets/svg/montana5r.svg);
  background-size: contain;
}

.boton1 {
  color: white;
  font-size: 1em;
  font-weight: 700;
  background-color: #e98e2d;
  border: solid 2px white;
  display: inline-block;
  cursor: pointer;

  padding: 12px 12px;
  text-decoration: none;
}

.boton1:hover {
  background-color: #cad6ff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 20px;
  }

  .titulo {
    text-align: center;

    font-size: 2.3rem;
  }

  .titulo1 {
    font-size: 1.5rem;
  }
}
