.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}
.best {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: black;
  margin-top: 20%;
  margin-bottom: 20%;
  flex-wrap: wrap;
  padding: 5%;
}
.material .precio {
  font-size: 2px !important;
}
.cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  /* Espacio entre las columnas */
  margin: 5%;
  row-gap: 10px;
}

.contenedor {
  display: flex;
  align-items: normal;
  margin-left: 100px;
  margin-top: 0;
}

.filtros {
  width: 200px;
  list-style: none;
  margin-top: 4.2rem;
}
.lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.item {
  font-size: 1.3rem;
}
.item:hover {
  color: #cad6ff;
}

.categoria {
  font-weight: 700;
  font-size: 1.7rem;
}

.orden {
  text-align: end;
  margin-top: 10%;
  margin-right: 4rem;
  margin-bottom: 0;
}

.select {
  color: white;
  font-size: 1rem;
  background-color: #e98e2d;
  box-shadow: 0px 1px 0px 0px #1c1b18;

  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 2px;
}
