.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}
.best {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: black;
  margin-top: 20%;
  margin-bottom: 20%;
  flex-wrap: wrap;
  padding: 5%;
}
.material .precio {
  font-size: 2px !important;
}
.cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  /* Espacio entre las columnas */
  margin: 5%;
  row-gap: 5px;
}

.contenedor {
  display: flex;
  align-items: normal;
  margin-left: 100px;
  margin-top: 0;
}

.filtros {
  width: 200px;
  list-style: none;
  margin-top: 4.2rem;
}
.lista {
  list-style: none;
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.item {
  font-size: 1.3rem;
}
.item:hover {
  color: #cad6ff;
}

.categoria {
  font-weight: 700;
  font-size: 1.7rem;
}
.categoria1 {
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #cad6ff;
  width: 7rem;
  padding: 9px;
  text-align: center;
}
.orden {
  text-align: end;
  margin-top: 10%;
  margin-right: 4rem;
  margin-bottom: 0;
}

.select {
  color: white;
  font-size: 1rem;
  background-color: #e98e2d;
  box-shadow: 0px 1px 0px 0px #1c1b18;

  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 2px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .categoria {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
  }

  .categoria1 {
    display: none;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #cad6ff;
    width: 7rem;
    padding: 9px;
    text-align: center;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    margin-left: 0;
    margin-top: 0;
  }

  .item {
    font-size: 12px;
  }

  .cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Tres columnas de igual tamaño */
    /* Espacio entre las columnas */
    margin: 5%;
    row-gap: 10px;
  }

  .filtros {
    width: 200px;
    list-style: none;
    margin-top: 4.2rem;
    text-align: center;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 45%;
  top: 50%;
}
