.container {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #e98e2d;
  flex-wrap: wrap;
  gap: 20px;
}

.titulo {
  text-align: center;
  font-size: 4.3rem;
}
.titulo:hover {
  color: #cad6ff;
}

.titulo2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
  color: #cad6ff;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.proName {
  margin-left: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

/* .exclusividad,
    .ajuste-perfecto,
    .calidad-artesanal,
    .materiales-primera,
    .expresion-identidad {
      /* Estilos para cada celda con los iconos */
/* Puedes ajustar el tamaño, color, etc. según tus preferencias } */

/* .imagen-central {
      /* Estilos para la celda con la imagen central */
/* Puedes ajustar el tamaño, bordes, etc. según tus preferencias */
/* } */

.modal {
  background-color: black;
}
.item {
  position: relative;
  list-style: none;

  margin-bottom: 20px;
}

.contenido {
  position: absolute;
  bottom: 2rem;
  width: 16rem;
  background: #fff;
  left: 2rem;
  font-size: 1.2rem;
  box-sizing: border-box;

  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: black;
  text-align: justify;
  transform: translateX(0%) translateY(-10px);
  padding: 20px;
}
.contenido::before {
  content: "";
  position: absolute;
  /* width: 29px;
  height: 30px; */

  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 40px solid white;
  border-bottom: 40px solid white;
  left: 0rem;
  bottom: -20px;

  z-index: -7;
  transform: rotate(90deg);
}

.pro:hover .contenido {
  visibility: visible;
  opacity: 1;
  /* transform: translateX(-50%) translateY(20px); */
}
.pro:hover .proName {
  font-size: 1.4rem;
  /* transform: translateX(-50%) translateY(20px); */
}

.proName {
  width: 200px;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.imagen:hover {
  fill: #333;
}

.imagen {
  width: 300px;
  margin-top: 2rem;
}

.imagen {
  opacity: 2;
}
.imagen:hover {
  filter: drop-shadow(2px 2px 2px black);
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: flex;
    width: 100%;
    height: 20rem;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    background-color: #e98e2d;
    flex-wrap: nowrap;
    padding: 3rem;
  }

  .pro {
    display: flex;

    margin-top: 0;
    align-items: center;
  }

  .contenido {
    width: 14rem;
    background: #fff;
    left: 2rem;
    font-size: 1rem;
    box-sizing: border-box;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    color: black;
    text-align: justify;
    transform: translateX(0%) translateY(-10px);
    padding: 20px;
  }
  .imagen {
    width: 12rem;
    display: none;
  }
  .pro {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    align-items: center;
  }

  .item {
    position: relative;
    list-style: none;

    margin-bottom: 0px;
  }

  .titulo {
    text-align: center;
    font-size: 2.3rem;
  }
  .titulo:hover {
    color: #cad6ff;
  }

  .titulo2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    color: #cad6ff;
    text-transform: uppercase;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .container {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
  }
  /* .container::-webkit-scrollbar {
    background-color: #e98e2d;
  } */
}
