.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  z-index: 1;
}
.nav2 {
  font-weight: 700;
}
.item {
  font-size: 1.7em;
}

.item:hover {
  color: #cad6ff;
}

.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  font-size: 15px;
  list-style: none;
}

.cotiza {
  color: white;
  font-size: 1.3rem;
  background-color: #e98e2d;
  box-shadow: 0px 1px 0px 0px #1c1b18;

  display: inline-block;
  cursor: pointer;

  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 2px;
}
.cotiza:hover {
  background-color: #cad6ff;
}

.logo:hover {
  filter: drop-shadow(2px 2px 1px #666);
}
