.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 16px;
  z-index: 1;
}
.nav2::first-letter::first-letter {
  font-weight: 400;
  font-size: 25px;
}

.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  font-size: 15px;
  list-style: none;
}

.cotiza {
  color: white;
  font-size: 15px;
  background-color: #ffcc00;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);

  border-radius: 5px;
  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;

  font-weight: bold;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 2px;
}
